<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Awesome Movies</title>
  <link rel="stylesheet" href="main.css">
  <script type="text/template" id="movieTmpl">
    <div class="moviesHere">
      <img src='<%= CoverImage %>' width="130"/>
      <div class="details">
        <div class="movieDetails">
            <h3><%= title %></h3>
            <h4 class="release">Released: (<%= releaseYear %>)</h4>
            <h5 class="rating">Rated: <%= rating %> / 10</h5>
            <p class = "plot"><%= plot %></p>
            <button type="button" class= "detailButton">Details</button>
            <button type="button" class="edit">Edit</button>
            <button type="button" class="link">Delete</button>
        </div>
        <div class ="editMovie hide">
          <form class="editedMovie">
            <input type="text" class='etitle' value="<%= title %>" placeHolder="Movie Title?"/>
            <input type="text" class='eyear' value="<%= releaseYear %>" placeHolder="Release Year?"/><br>
            <input type="text" class='eimage' value="<%= CoverImage %>" placeHolder="Image Link?"/>
            <input type="text" class='estars' value="<%= rating %>" placeHolder="Rating?"/><br>
            <textarea class='eplot' cols="60" rows="5"  placeHolder="Plot?"><%= plot %></textarea><br>
            <button type="submit" class="editSubmit">Submit</button>
            <button type="button" class="editCancel">Cancel</button>
          </form>
        </div>
      </div>
    </div>
      <div id='overlay' class='hide'>
        <form class="newMovie">
          <h3>What Movie Are We Adding? </h3>
          <span>Movie Title:</span> <input type="text" class='ftitle' placeHolder="Movie Title?"/> <br>
          <span>Release Year:</span> <input type="text" class='fyear'placeHolder="Release Year?"/><br>
          <span>Plot:</span> <input type="text" class='fplot'placeHolder="Plot?"/><br>
          <span>Image Link:</span> <input type="text" class='fimage'placeHolder="Image Link?"/><br>
          <span>Rating:</span> <input type="text" class='stars' placeHolder="Rating?"/><br>
          <button type="submit" class="submit">Submit</button>
          <button type="button" class="cancel">Cancel</button>
        </form>
      </div>
  </script>
  <script type="text/template" id="buttonTmpl">
      <ul>
        <li><button type="button" class= "home">Home</button> </li>
        <li><button type="button" id= "about">About</button> </li>
          <li><button type="button" class= "addMovie">Add A Movie</button> </li>
          <li><button type="button" id= "titleMovie">Sort By Title</button> </li>
          <li><button type="button" id= "ratingMovie">Sort By Rating</button> </li>
          <li><button type="button" id= "releaseYearMovie">Sort By Year</button> </li>
          <li><p>Fantasy is a necessary ingredient in living, it's a way of looking at life through the wrong end of a telescope, and that enables you to laugh at life's realities.
          <br>-Dr. Seuss</p></li>
      </ul>

      <img src="http://vapersbook.com/wp-content/uploads/2013/05/popcorn-eliquid-recipe.jpg"/>
  </script>
</head>
<body>

  <header class="title">
    <h1> Awesome List of Movies! </h1>
  </header>

  <aside class="buttons">

  </aside>

  <div id="listOfMovies">

  </div>

<script type="text/javascript" src="bundled.js"></script>
</body>
</html>
