body{
  height: 100vw;
  background: url("http://fc08.deviantart.net/fs18/f/2007/187/5/e/Buttered_Popcorn_Texture_by_FantasyStock.jpg") center center no-repeat fixed;
  background-size: cover;

}

#overlay{
  width:100%;
  text-align:center;
}
.newMovie{
  width: 100%;
  border: 2px dotted red;
  height: 18%;
  background-color: #780000;
  padding: 5%;
  padding-top: 2%;
  text-align: left;
}
.newMovie input{
  display: inline-block;
  margin-bottom: 3%;
}

.newMovie h3{
  margin-top: 0;
  font-family: "Arnoldboecklin", fantasy;
  font-size: 25px;
}
.newMovie span{
  font-family: "Arnoldboecklin", fantasy;
  font-size: 20px;
}
.title {
  top: 0;
  bottom: 0;
  width: 100%;
  float:right;
  margin: 0;
}

.title h1{
  text-align: center;
  font-family: "Arnoldboecklin", fantasy;
  color: #380000;
  font-size: 50px;
  font-weight: 900;
  margin: 0;
  margin-top: 2%;
}

aside{
  vertical-align: top;
  text-align: center;
  width: 20%;
  float:left;
  position: fixed;
  background-color: #780000  ;
  height: 100%;
  border-radius: 20px;
  background: url("http://ak.picdn.net/shutterstock/videos/1008724/preview/stock-footage-opening-and-closing-red-curtain.jpg") center center no-repeat fixed;
  background-size: cover;
}

aside ul{
  list-style: none;
  font-family: "Arnoldboecklin", fantasy;
  font-size: 20px;
  margin-left: 0;
  margin-top: 10%;
  padding: 0;
}
aside li{
  margin-bottom: 5%;
}
aside p{
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 5%;
}

aside img{
  width: 100%;
  margin-bottom: 0;
/*   margin-top: 75%; */
}
.addMovie, #titleMovie, #ratingMovie, #releaseYearMovie, .home, #about{
  width: 80%;
  background-color: grey;
  color: #380000;
  height: 30px;
  border-radius: 20px;
}
.link, .edit, .detailButton{
  background-color: grey;
  color: #380000;
  border-radius: 20px;
}

#listOfMovies{
  display:block;
  float: right;
  width: 79%;
}
article{
  margin-top: 5%;
  width: 60%;
  margin-bottom: 5%;
  margin-left: 5%;
}
#listOfMovies img{
  width: 19%;
  display: inline-block;
  border: 2px solid black;
  border-radius: 20px;
  margin-top: 2%;
}

.details{
  width: 72%;
  display: inline-block;
  margin-left: 1%;
  vertical-align: top;
  border: 2px solid black;
  border-radius: 20px;
  padding: 2%;
  background-color: #780000
}

h3{
  margin-bottom: 2%;
  margin-top: 0;
}
.release, .rating{
  margin: 0;
}
.editedMovie{
  width: 80%;
}

.hide{
  display: none;
}
